.ipl-logo {
  width: 8%;
}

.live-logo {
  width: 100px;
  height: 60px;
  animation: blink 2s ease-in infinite;
  pointer-events: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.no-show-mobile {
    @media screen and (max-width: 640px) {
        display: none;
      }
}

.no-show-desktop {
    @media screen and (min-width: 640px) {
        display: none;
      }
}